{% extends 'layouts/base.html' %}
{% load index_filter %}
{% block stylesheets %}
<style type="text/css">
  #id_1{
    width:100px;
  }
.my-sent{
  { display: flex;
    justify-content: center;
    align-items: center;
}
.sent-txt{
 
  display:inline-block;
}
}
  
  </style>
{% endblock stylesheets %}
{% block title %} Tables {% endblock title %}

{% block content %}
<meta charset="UTF-8">
  <div class="header bg-primary pb-6">
    
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row">
              <div class="my-sent col-sm-12 col-md-4 col-lg-2">
                <h3 class=" mb-0 sent-txt">word table </h3>
              </div>
            
            <div class="my-sent col-sm-12 col-md-8 col-lg-10">
              <h3 class="mb-0  sent-txt" style="font-style:italic;"> &quot; {{ sentence }}&quot;</h3>
            </div>
          </div>
        </div>
          <!-- word  table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Hinglish word </th>
                  <th scope="col" class="sort" data-sort="name">Tag </th>
                  <th scope="col" class="sort" data-sort="budget">Hindi words  </th>
                  
                  
                </tr>
              </thead>
              
              <tbody class="list">
                
                {% for i in n %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                  
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ words|index_filter:i }}</span>
                      </div>
                    </div>
                  </th>
                  <td> {{ tags|index_filter:i}} </td>
                  {%if tags|index_filter:i == 'E' %}
                  <td>
                  <div class='container'>
                    <div  class='row'>
                      english word
                    </div>
                  </div>
                </td>
                  {% else %}
                  <td>

                    <div class='container'>
                    <div  class='row'>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2 ">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>
                    <div class="form-check col-sm-3 col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        word
                      </label>
                    </div>

                
                
                    <div class="form-group mx-sm-3 mb-2" style="color:black;">
                      
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                      
                      <script language="javascript">
                        CreateHindiTextBox("id_1");
                     </script>
                    </div>

                      
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
            


              </div>
              </tbody>
            </table>


          </div>
          
        </div>
        <div style="display:flex; justify-content: space-between;">
        <button class="btn btn-primary" style="background-color:#868e96; border:0px;" type="submit">Previous</button>
        <span>
        <button class="btn btn-primary" style="background-color:#868e96; border:0px;" type="submit">Skip</button>
        <button class="btn btn-primary" type="submit">save&amp;next</button></span></div>
      </div>
    </div>
    <ul>
      
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}
<script src="https://hinkhoj.com/common/js/keyboard.js"></script>
<!-- Specific JS goes HERE --> 
{% block javascripts %} {% endblock javascripts %}
